apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: webapp
  name: webapp
spec:
  replicas: 6
  selector:
    matchLabels:
      app: webapp
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: webapp
    spec:
      containers:
      - image:  wiktorvip/webapp-color:9
        name: webapp
        resources: {}
status: {}
---
apiVersion: v1
kind: Service
metadata:
  name: lb-service-webapp
  labels:
    app: lb-service-webapp
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 9009
  selector:
    app: webapp
